.movie_saved {
    cursor: pointer;
}

.movie__delete {
    margin: 0 16px 0 0;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    transition: 1s linear;
}

.movie__delete:hover {
    opacity: .6;
}


.movie__delete {
    display: none;
}


.movie:hover .movie__delete {
    display: block;
}
