.footer {
    display: flex;
    justify-content: space-between;
    padding: 79px 70px 0;
    flex-direction: column;
}

.footer__title {
    font-size: 13px;
    color: #A0A0A0;
    text-align: center;
    margin: 0 0 41px;
    font-weight: 400;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__year {
    font-size: 13px;
}

.footer__links {
    display: flex;
    list-style-type: none;
}

.footer__link {
    display: flex;
    text-decoration: none;
    margin-left: 20px;
    line-height: 15px;
    color: black;
    transition: 1s linear;
}

.footer__link:hover {
    opacity: .5;
}



@media screen and (max-width: 500px){
    .footer {
        padding: 79px 10px 10px;
    }

    .footer__title {
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        line-height: 15px;      
        text-align: center;
        margin-bottom: 52px;
    }

    .footer__links {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .footer__link {
        margin: 0 0 12px;
        line-height: 15px;
        font-size: 12px;
    }
    


    .footer__year {
        order: 2;
        line-height: 15px;
        font-size: 12px;
        text-align: center;
        color: #A0A0A0;
        margin-top: 18px;

    }

    .footer__container {
        flex-direction: column;
        margin: 0 auto;
    }
}
