.promo {
    padding: 50px 70px 0;
    background-color: #465DFF;
    display: flex;
    flex-direction: column;
}

.promo__title {
    font-size: 40px;
    max-width: 626px;
    font-style: normal;
    color: white;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.04em;
}

.promo__logo {
    justify-content: flex-end;
    width: 722px;
    margin: 120px 0 60px;
    background-image: url(../../../images/landing-logo.svg);
    background-position: top;
    background-repeat: no-repeat;
    height: 244px;
}

.promo__logo-container {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .promo {
        padding:0 44px 60px;
    }

    .promo__title {
        text-align: center;
        margin: 300px 0 140px;
    }

    .promo__logo {
        
        justify-self: center;
        margin: 0;
        width: 680px;
        height: 230;
    }

    .promo__logo-container {
        justify-content: center;
    }

}

@media screen and (max-width: 400px) { 
    .promo__title {
        margin: 183px 0 60px;
        font-size: 31px;
        font-style: normal;
        font-weight: 400;
        line-height: 39px;
        letter-spacing: -0.04em;
        padding: 0 10px 0;
    }
    .promo {
        padding: 0;
    }

    .promo__logo {
        background-image: url(../../../images/promo-mobile.png);
        background-position: top;
        background-repeat: no-repeat;
        width: 320px;
        height: 230px;
    }


}